#!/bin/bash

OK="$(tput setaf 2)[OK]$(tput sgr0)"
ERROR="$(tput setaf 1)[ERROR]$(tput sgr0)"
NOTE="$(tput setaf 3)[NOTE]$(tput sgr0)"
WARN="$(tput setaf 5)[WARN]$(tput sgr0)"
CAT="$(tput setaf 6)[ACTION]$(tput sgr0)"
ORANGE=$(tput setaf 166)
YELLOW=$(tput setaf 3)
RESET=$(tput sgr0)

pipewire=(
    pipewire
    wireplumber
    pipewire-audio
    pipewire-alsa
    pipewire-pulse
    sof-firmware
)

install_package() {
  # Checking if package is already installed
  if paru -Q "$1" &>> /dev/null ; then
    echo -e "${OK} $1 is already installed. Skipping..."
  else
    # Package not installed
    echo -e "${NOTE} Installing $1 ..."
    paru -S --noconfirm "$1"
    # Making sure package is installed
    if paru -Q "$1" &>> /dev/null ; then
      echo -e "\e[1A\e[K${OK} $1 was installed."
    else
      # Something is missing, exiting to review log
      echo -e "\e[1A\e[K${ERROR} $1 failed to install :( , please check the install.log. You may need to install manually! Sorry I have tried :("
      exit 1
    fi
  fi
}

# Disable pulseaudio to avoid conflict
printf "${NOTE} Disabling pulseaudio to avoid conflict...\n"
systemctl --user disable --now pulseaudio.socket pulseaudio.service 2>/dev/null

# Installing pipewire packages
printf "${NOTE} Installing core pipewire packages...${RESET}\n"
for PIPEWIRE in "${pipewire[@]}"; do
  install_package "$PIPEWIRE" 2>&1 /dev/null
  if [ $? -ne 0 ]; then
     echo -e "\e[1A\e[K${ERROR} - $PIPEWIRE Package installation failed, Please check the installation logs"
  fi
done

printf "${NOTE} Activating Pipewire Services...\n"
systemctl --user enable --now pipewire.socket pipewire-pulse.socket wireplumber.service 2>&1
systemctl --user enable --now pipewire.service 2>&1
