#!/bin/bash

OK="$(tput setaf 2)[OK]$(tput sgr0)"
ERROR="$(tput setaf 1)[ERROR]$(tput sgr0)"
NOTE="$(tput setaf 3)[NOTE]$(tput sgr0)"
WARN="$(tput setaf 5)[WARN]$(tput sgr0)"
CAT="$(tput setaf 6)[ACTION]xorg-xhost$(tput sgr0)"
ORANGE=$(tput setaf 166)
YELLOW=$(tput setaf 3)
RESET=$(tput sgr0)


hypr_package=( 
  cliphist
  curl
  gvfs
  gvfs-smb
  gvfs-mtp
  imagemagick
  inxi
  jq
  kitty
  kvantum
  nano  
  network-manager-applet
  pamixer 
  pavucontrol
  pipewire-alsa 
  playerctl
  polkit-gnome
  python-requests
  python-pipx
  python-pyquery
  qt5ct
  qt6ct
  qt6-svg
  satty 
  wget
  wl-clipboard
  wl-clip-persist
  wlogout
  xdg-user-dirs
  xdg-utils 
  xorg-xhost
)

# simple apps packages
hypr_package_2=(
  btop
  cava
  imv
  fastfetch
  mousepad
  vlc
  vlc-plugin-ffmpeg
  nvtop
  nwg-displays
  nwg-look
  pacman-contrib
  vim
)

# the following packages can be deleted. however, dotfiles may not work properly
hypr_package_3=(
  7zip
  audacity
  awsvpnclient
  deluge-gtk
  discord
  burpsuite
  burpsuite-pro
  dnsx-bin
  ffuf-bin
  firefox
  hashcat
  httpx-bin
  jdk21-openjdk
  john
  kanshi
  katana-bin
  kubectl
  masscan
  metasploit
  mullvad-vpn-bin
  networkmanager-openvpn
  nmap
  nuclei-bin
  openvpn
  postgresql
  remmina
  remmina-plugin-rdesktop
  seclists
  spotify
  sqlmap
  sourcemapper-git
  telegram-desktop-bin
  visual-studio-code-bin
  wifite
)

# List of packages to uninstall as it conflicts some packages
uninstall=(
  aylurs-gtk-shell
  dunst
  mako
  rofi
  wallust-git
)

install_package() {
  # Checking if package is already installed
  if paru -Q "$1" &>> /dev/null ; then
    echo -e "${OK} $1 is already installed. Skipping..."
  else
    # Package not installed
    echo -e "${NOTE} Installing $1 ..."
    paru -S --noconfirm "$1"
    # Making sure package is installed
    if paru -Q "$1" &>> /dev/null ; then
      echo -e "\e[1A\e[K${OK} $1 was installed."
    else
      # Something is missing, exiting to review log
      echo -e "\e[1A\e[K${ERROR} $1 failed to install :( , please check the install.log. You may need to install manually! Sorry I have tried :("
      exit 1
    fi
  fi
}

uninstall_package() {
  local pkg="$1"

  # Checking if package is installed
  if pacman -Qi "$pkg" &>> /dev/null ; then
    # Package is installed
    echo -e "${NOTE} Uninstalling $pkg ..."
    sudo pacman -R --noconfirm "$pkg" 2>&1 | grep -v "error: target not found"
    # Check if the package was uninstalled
    if ! pacman -Qi "$pkg" &>> /dev/null ; then
      echo -e "\e[1A\e[K${OK} $pkg was uninstalled."
    else
      echo -e "\e[1A\e[K${ERROR} $pkg failed to uninstall. Please check the log."
      return 1 
    fi
  else
    echo -e "${NOTE} $pkg is not installed, skipping uninstallation."
  fi
  return 0 
}

# uninstalling conflicting packages
# Initialize a variable to track overall errors
overall_failed=0

printf "\n%s - Removing Mako, Dunst, and rofi as they conflict with swaync and rofi-wayland \n" "${NOTE}"
for PKG in "${uninstall[@]}"; do
  uninstall_package "$PKG" 2>&1
  if [ $? -ne 0 ]; then
    # Track if any uninstallation failed
    overall_failed=1
  fi
done

if [ $overall_failed -ne 0 ]; then
  echo -e "${ERROR} Some packages failed to uninstall. Please check the log."
fi


# Installation of main components
printf "\n%s - Installing hyprland packages.... \n" "${NOTE}"

for PKG1 in "${hypr_package[@]}" "${hypr_package_2[@]}" "${hypr_package_3[@]}" ; do
  install_package "$PKG1" 2>&1
  if [ $? -ne 0 ]; then
    echo -e "\e[1A\e[K${ERROR} - $PKG1 Package installation failed, Please check the installation logs"
    exit 1
  fi
done
