// Import global variables
@use "styles/variables";

// Import module styles
@use "styles/bar";
@use "styles/workspaces";
@use "styles/systemtray";
@use "styles/updates";
@use "styles/powermenu";
@use "styles/clock";
@use "styles/battery";
