// Import global variables
@use "styles/variables";

// Import global popup styling (transparent/blur effect)
@use "styles/popup";

// Import module styles
@use "styles/bar";
@use "styles/workspaces";
@use "styles/systemtray";
@use "styles/updates";
@use "styles/powermenu";
@use "styles/clock";
@use "styles/battery";
@use "styles/archlogo";
@use "styles/settings";
