@use "common" as *;

window.BottomBar {
  @include bar-base;

  > centerbox > box:last-child {
    @include bar-section("end-bottom");
  }
}

window.BottomBar.light-mode {
  color: rgba(0, 0, 0, 0.9);

  * {
    color: rgba(0, 0, 0, 0.9);
  }

  label {
    color: rgba(0, 0, 0, 0.9);
  }

  > centerbox > box:last-child {
    background: rgba(255, 255, 255, 0.85);
  }

  button:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
