@use "common" as *;

window.BottomBar {
  @include bar-base;

  // Only end box has content currently, so only style that one
  > centerbox > box {
    &:last-child {
      @include bar-section("only-bottom");
    }
  }
}
