@use "common" as *;

window.TopBar {
  @include bar-base;

  > centerbox > box {
    &:first-child {
      @include bar-section("start-top");
    }

    &:last-child {
      @include bar-section("end-top");
    }

    &:nth-child(2) {
      @include bar-section("center-top");
    }
  }

  .bar-center-widget {
    border-radius: 8px;
    transition: background-color 200ms;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }

    button:hover {
      background: transparent;
    }
  }

  .bar-separator {
    min-width: 1px;
    min-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 4px;
  }
}

window.TopBar.light-mode {
  color: rgba(0, 0, 0, 0.9);

  * {
    color: rgba(0, 0, 0, 0.9);
  }

  label {
    color: rgba(0, 0, 0, 0.9);
  }

  > centerbox > box {
    background: rgba(255, 255, 255, 0.85);
  }

  .bar-center-widget:hover {
    background: rgba(0, 0, 0, 0.15);
  }

  .bar-separator {
    background-color: rgba(0, 0, 0, 0.15);
  }

  button:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}
