window.TopBar {
  background: transparent;
  color: white;
  font-weight: 400;

  > centerbox {
    background: transparent;
    margin: 0;
    padding: 0;

    > box {
      background: rgba(20, 20, 25, 0.6);
      padding: 0px 2px;
      margin: 0;

      &:first-child {
        padding-right: 10px;
        border-radius: 0 0 16px 0;
      }

      &:last-child {
        padding-left: 10px;
        border-radius: 0 0 0 16px;
      }

      &:nth-child(2) {
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 0 16px 16px;
      }
    }
  }

  .bar-center-widget {
    border-radius: 8px;
    transition: background-color 200ms;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    // Disable hover effect on button inside center widget
    button {
      &:hover {
        background: transparent;
      }
    }
  }

  button {
    border-radius: 4px;
    margin: 1px;
    padding: 1px 3px;
    background: transparent;
    border: none;
    transition: background-color 200ms;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .bar-separator {
    min-width: 1px;
    min-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 4px;
  }
}
