@use "common" as *;

window.TopBar {
  @include bar-base;

  > centerbox > box {
    &:first-child {
      @include bar-section("start-top");
    }

    &:last-child {
      @include bar-section("end-top");
    }

    &:nth-child(2) {
      @include bar-section("center-top");
    }
  }

  .bar-center-widget {
    border-radius: 8px;
    transition: background-color 200ms;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    button:hover {
      background: transparent;
    }
  }

  .bar-separator {
    min-width: 1px;
    min-height: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 4px;
  }
}
