$ws-primary: #ffffff;
$ws-primary-light: rgba(0, 0, 0, 0.8);
$ws-surface: rgba(0, 0, 0, 0.6);

.ws-container {
  background-color: transparent;
  padding: 3px 4px;
  border-radius: 4px;

  .ws-wrapper {
    padding: 1px 0;

    &.occupied {
      padding: 0;
      background-color: transparent;
      border-top: 1px solid $ws-primary;
      border-bottom: 1px solid $ws-primary;

      &.group-start {
        border-left: 1px solid $ws-primary;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }

      &.group-end {
        border-right: 1px solid $ws-primary;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }

  button.ws-button {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    min-width: 0;
    min-height: 0;

    &.focused .ws-button-label {
      background-color: $ws-primary;
      color: black;
      border-radius: 1rem;
    }

    &:hover:not(.focused) .ws-button-label {
      border-radius: 1rem;
    }

    .ws-button-label {
      min-width: 1rem;
      min-height: 1rem;
      padding: 2px 6px;
      font-size: 1em;
      font-weight: 400;
    }
  }
}

window.light-mode .ws-container {
  .ws-wrapper.occupied {
    border-top-color: $ws-primary-light;
    border-bottom-color: $ws-primary-light;

    &.group-start {
      border-left-color: $ws-primary-light;
    }

    &.group-end {
      border-right-color: $ws-primary-light;
    }
  }

  button.ws-button {
    .ws-button-label {
      color: rgba(0, 0, 0, 0.9);
    }

    &.focused .ws-button-label {
      background-color: $ws-primary-light;
      color: white;
    }
  }
}
